# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# Capacitor / Android
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/.cxx/
android/local.properties
android/*.iml

# iOS
ios/Pods/
ios/build/
ios/App/build/
ios/App/DerivedData/

# OS
.DS_Store

# Large files
datasets/
uploads/
models/

# Media safety
*.jpg
*.jpeg
*.png
*.mp4
*.mov
*.wav

# Env
.env

# Logs
*.log
*.tmp
